@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #555C68;
    line-height: 130%;
}

a {
    font-size: inherit;
    color: inherit;
}

h1 {
    font-size: 60px;
    line-height: 100%;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 44px;
    color: inherit;
    line-height: 100%;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
    color: inherit;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.yellow {
    color: #F0E714;
}

.btn {
    padding: 13px 32px;
    color: #101C26;
    background-color: #F0E714;
    border-radius: 1000px;
    font-weight: 500;
}

.active {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}


.header {
    background-color: #101C26;
    font-size: 16px;
    color: #BAB9B9;
    padding: 30px 0;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_btn {
    display: flex;
    align-items: center;
    gap: 16px;
}




.hero {
    color: #F3F4F6;
    background-color: #101C26;
    padding: 40px 0;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 550px;
}

.hero_btn {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero_btn div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_hero {
    display: flex;
    align-items: center;
    gap: 20px;

}

.hero_wrapper {
    display: flex;

    gap: 24px;
}

.hero_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 150px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}


.hero_company {
    margin-top: 50px;
}

.hero_company .container {
    display: flex;
    justify-content: space-between;
}




.about {
    padding: 140px 0;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #101C26;
}


.block_txt {
    text-transform: uppercase;
    font-size: 16px;
    background-color: #F0E71433;
    border-radius: 1000px;
    width: fit-content;
    padding: 8px 16px;
    font-weight: 500;
}

.arrow_right_gold {
    padding-top: 5px;
    height: 15px;
}

.gold_btn {
    display: flex;
    gap: 10px;
    color: #F0E714;
    background-color: #24272E;
    font-size: 15px;
}

.about_txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 630px;
}