@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #555C68;
    line-height: 130%;
    background-color: #F3F4F6;
}

a {
    font-size: inherit;
    color: inherit;
}

h1 {
    font-size: 60px;
    line-height: 100%;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 44px;
    color: inherit;
    line-height: 100%;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
    color: #101C26;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.yellow {
    color: #F0E714;
}

.btn {
    padding: 13px 32px;
    color: #101C26;
    background-color: #F0E714;
    border-radius: 1000px;
    font-weight: 500;
}

.active {
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 6px;
}


.header {
    background-color: #101C26;
    font-size: 16px;
    color: #BAB9B9;
    padding: 30px 0;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header_btn {
    display: flex;
    align-items: center;
    gap: 16px;
}




.hero {
    color: #F3F4F6;
    background-color: #101C26;
    padding: 40px 0;
}

.hero .container {
    display: flex;
    align-items: center;
}

.hero_txt {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 550px;
}

.hero_btn {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero_btn div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_hero {
    display: flex;
    align-items: center;
    gap: 20px;

}

.hero_wrapper {
    display: flex;

    gap: 24px;
}

.hero_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 150px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}


.hero_company {
    margin-top: 50px;
}

.hero_company .container {
    display: flex;
    justify-content: space-between;
}




.about {
    padding: 140px 0;
}

.about .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #101C26;
}


.block_txt {
    text-transform: uppercase;
    font-size: 16px;
    background-color: #F0E71433;
    border-radius: 1000px;
    width: fit-content;
    padding: 8px 16px;
    font-weight: 500;
}

.arrow_right_gold {
    padding-top: 5px;
    height: 15px;
}

.gold_btn {
    display: flex;
    gap: 10px;
    color: #F0E714;
    background-color: #24272E;
    font-size: 15px;
}

.about_txt {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    max-width: 630px;
}










.why {
    padding-bottom: 140px;
}


.why .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.why_txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 630px;
}

.why_wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.why_box {
    display: flex;
    align-items: center;
    gap: 24px;
}



.our {
    padding: 0 0 140px;
}

.intro_center {
    text-align: center;
    align-items: center;
    max-width: 660px;
    margin: 0 auto;
}


.our_wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
}

.our_box {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    padding: 32px;
    background-color: white;
    border-radius: 10px;
}

.shadow {
    box-shadow: 1px 1px 30px #9897975E;
}




.ready {
    padding: 0px 0 140px;
}

.slide_pag {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.ready_wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

.ready_box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: start;
    max-width: 500px;
}

.link_ready {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #24272E;
    font-size: 16px;
}







.testimonial {
    padding-bottom: 140px;
}

.reviews_wrapper {
    margin-top: 50px;
    display: grid;
    gap: 30px;
    overflow-x: auto;
    grid-template-columns: repeat(3, 1fr);
}

.reviews_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 20px;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
}

.reviews_autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.quote {
    background: url(../img/quote_start.png) 0 0 no-repeat, url(../img/quote_end.png) bottom right no-repeat;
    padding-left: 20px;
}

.name {
    font-weight: 500;
    color: #000000;
}




.contact {
    padding-bottom: 100px;
}

.contact .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact_txt {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 620px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.df {
    display: flex;
    align-items: start;
    gap: 16px;
}

.form {
    background-color: #101C26;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    width: 620px;
    border-radius: 16px;
    padding: 80px;
}

input {
    width: 400px;
    background-color: transparent;
    border-bottom: 1px solid #D3D3D3;
    padding: 16px 0;
    color: white;
}

input::placeholder {
    font-size: 14px;
    color: #D3D3D3;
}